ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  margin: 0 auto;
  max-width: 64em;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  font-size: 12px;
}

ul.month-grid li {
  font-weight: bold;
  padding: 10px;
  max-height: 125px;
  min-width: 64px;
}

ul.month-grid {
  margin-top: 24px;
}
ul.month-grid li:hover {
  cursor: pointer;
  background-color: #70b6ff;
  color: white;
  border-radius: 5px;
}
